.container{
    display: grid;
    grid-gap : 3px;
    width : 16%;
    grid-auto-rows : 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
}

.leads{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border : 1px solid black; */
    background: #5353e2;
    font-weight: bold;
    color : white;
}

.per_qualified_lead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qualified_leads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top : 1px dashed black;
}

.platform_fee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top : 1px dashed black;
}

.package_price{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border : 1px solid black; */
    background: #5353e2;
    font-weight: bold;
    color : white;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    border : 1px solid orangered;
    color : orangered;
    font-weight: bold;
}

.message{
    grid-row: span 4;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    padding : 8px;
    background: rgb(245, 244, 244);
}

.popular{
    background: orangered;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@media(max-width : 830px){
    .container{
        width : 100%;
        margin-bottom: 35px;
        margin-top : 35px;
    }
}