.container{
    display: grid;
    grid-template-rows: 5vh 20vh 55vh 5vh;
    grid-gap : 5vh;
}

.header{
    background : red;
}

.footer{
    background : black;
    color : white;
    text-align: center;
    padding : 8px;
}

.homeValueContainer{
    display : flex;
    justify-content: center;
    align-items: center;
}

.homeValueItem{
    display : flex;
    align-items: center;
    justify-content: center;
    border : 1px solid black;
    height: 50px;
    width: 110px;
    cursor : pointer;
    border-radius : 8px;
    font-weight: bold;
    background: whitesmoke;
    color : #5353e2;
    width : 11%;
}

.highLightedHome{
    background : #5353e2;
    color : white;
}

.planListContainer{
    display: flex;
    width : 70%;
    justify-content: space-around;
    margin : 0 auto;
}
.github{
    text-align: center;
}

.github a{
    text-decoration  : none;
    color : #d4d4dc;
  }
  
  .github a:hover{
    color : rgb(226, 43, 74);
  }
  
  .github img{
    height : 2rem;
    margin : 10px;
  }
